<h1>Write a new TWEET!!!!!</h1>

<%= form_for @tweet do |f| %>

  <div>
    <%= f.label :message%>
    <%= f.text_field :message, :maxlength => 100, :size => 50 %>
  </div>

  <div>
    <%= f.label :user%>
    <%= f.text_field :user%>
  </div>


<p><%= f.submit "Tweet that elloquent knowledge!" %></p>

<% end %>

<p><%= link_to "Show me some new tweets!", tweets_path %></p>
