<h1> <%= @tweet.message %> </h1>

<p>posted by @<%= @tweet.user %></p>

<%= link_to "Make a mistake? Edit your tweet!", edit_tweet_path %>

<p><%= link_to "I'm full of regret!! Delete!", tweet_path, method: :delete, data: { confirm: "Are you sure you want to delete this terrible tweet?"} %></p>

<p><%= link_to "Show me the newest tweets!!!", tweets_path %></p>
